<include file="Public:header_new" />
<link rel="stylesheet" href="{:stamp('__PUBLIC__/Home/ecshe_css/user.css')}">

<style>
.crumbs{
	margin: 0 auto;
	margin-top: 35px;
	padding: 0 30px;
	width: 1200px;
	height: 60px;
	line-height: 60px;
	background-color: #fff;
	box-sizing: border-box;
}
.crumbs li{
	float: left;
	font-size: 16px;
	color: #575757;
}
.crumbs li.on,.crumbs li.on a{
	color: #018bc0;
}
.crumbs li span{
	margin: 0 10px;
}
</style>

<div class="crumbs">
	<ul>
		<li><a href="{:U('Issue/index')}">{:L('新币预热')}</a><span>&gt;</span></li>
		<li class="on">{:L('我的参与')}</li>
	</ul>
</div>

<div class="UserBox" style="margin-top:20px;margin-bottom:40px;">
	<div class="SettingRight" style="width: 100%;">
		<div class="titles">
			<h3 class="fl">{:L('我的参与')}</h3>
		</div>
		<div class="Column_LogonLog">
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
				<tr class="title">
					<th class="">{:L('项目名称')}</th>
					<th class="">{:L('币种')}</th>
					<th class="">{:L('单价')}</th>
					<th class="">{:L('数量')}</th>
					<th class="">{:L('支付总额')}</th>
					<th class="">{:L('解冻间隔')}</th>
					<th class="">{:L('参与时间')}</th>
					<th class="">{:L('解冻状态')}</th>
					<th class="">{:L('上次解冻')}</th>
					<th class="">{:L('状态')}</th>
				</tr>
				<volist name="list" id="vo">
					<tr>
<!--						<td>{$vo['coinname']}</td>
						<td>{$vo['type']}</td>
						<td>{$vo['num']*1}</td>
						<td>
							<eq name="vo['mum']" value="0">
								--
							<else/>
								{$vo['mum']*1} {:strtoupper($vo['votecoin'])}
							</eq>
						</td>
						<td>{$vo.addtime|addtime}</td>-->
						
						<td>{$vo.name}</td>
						<td>{$C['coin'][$vo['coinname']]['title']}</td>
						<td>{$vo['price']*1} {$C['coin'][$vo['buycoin']]['title']}</td>
						<td>{$vo['num']*1} {$C['coin'][$vo['coinname']]['title']}</td>
						<td>{$vo['mum']*1} {$C['coin'][$vo['buycoin']]['title']}</td>
						<td>{$vo['jian']}</td>
						<td>{$vo.addtime|addtime}</td>
						<td><eq name="vo['unlock']" value="$vo['ci']">已完成<else />{$vo.unlock}/{$vo.ci}</eq></td>
						<td>{$vo.endtime|addtime}</td>
						<td><eq name="vo.status" value="1">完成<else />解冻中</eq></td>
					</tr>
				</volist>
			</table>
			<div class="pages">{$page}</div>
		</div>
	</div>
</div>
<script>
$("title").html("{:L('我的参与')} - {:C('web_title')}");
</script>
<include file="Public:footer" />